body,html{
    margin:0;
    padding:0;
    font-size:62.5%;
    box-sizing:border-box;
}
body{
    
    
}
header{
    height:10rem;
    width:100%;
    background-color:#0a2851;
}
nav{
  margin:0;
  padding:0;
  display:block;
  background-color:#d8743e;        
    
}
.nav_bar{
    margin:0;
    padding:0;
    display:inline-block;
    text-align:center;
}

.nav_li{
    display:inline;
    float:left;
    line-height:1rem;
    font:2rem;
    text-align:center;
    background-color:#6f2c0f;
}
lightbrown_a:hover{
    background-color:#d88e00;
    color:#4f4d48;
}
#dropdown{
    background-color:#f4bff2;
}